html
    head
        title= "Logging page"
    style
        include google.css
    body
            h2 Login
            input(
                type='text'
                name='Login'
            )
            h2 Password
            input(
                type='text'
                name='Password'
            )
            br
            a(href= "/store") ENTER
